* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #70191c;
    box-shadow: 0 4px 25px -22px blue;
    z-index: 2;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: white;
    color: brown;
    font-size: 15px;
    border: 1px solid brown;
    position: relative;
}

.btn:hover {
    opacity: 0.2;
}


/*Menu****************************************************/

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a {
    color: burlywood;
    font-size: 25px;
}

.menu nav ul li a:hover {
    color: black;
    border-bottom: 2px solid black;
}


/*INICIAR SESION***************************************************/

.InicioSesion nav {
    height: 100%;
}

.InicioSesion nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.InicioSesion nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.InicioSesion nav ul li a {
    color: burlywood;
    font-size: 25px;
}

.InicioSesion nav ul li a:hover {
    color: black;
    border-bottom: 2px solid black;
}


/**** ACTIVIDAD PRINCIPAL*****************************************/


/*fondo*/

.portada {
    width: 100%;
    height: 500px;
    top: 80px;
    position: relative;
    background-image: url(../img/unmsm1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

.portada:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.486);
    position: absolute;
    top: 0;
    left: 0;
}


/*primer cuadro*/

.portada-info {
    max-width: 800px;
    height: 350px;
    top: 80px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url(../img/dota2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: black;
    border: 1px solid brown;
}

.portada-info:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.952);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0.3;
}

.portada-info h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.portada-info p {
    color: white;
    margin-bottom: 20px;
    position: relative;
}


/*ACTIVIDADES***********************************************************/

.Tactividades {
    height: 580;
    width: 100%;
    top: 70px;
    position: relative;
    margin: 0px 0px;
    background: rgb(255, 255, 255)
}

.Tactividades h1 {
    font-size: 70px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: rgb(228, 158, 66);
}

.actividades {
    height: 580;
    width: 100%;
    top: 70px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 0px 0px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.actividades img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.actividades h3 {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.actividades p {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.actividades a {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.actividad-info {
    max-width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #70191c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: black;
    border: 1px solid brown;
    margin-bottom: 20px;
}


/*FOOTER*/

.footer-contenido {
    width: 100%;
    padding: 40px 0;
    background: rgb(83, 78, 78);
    margin-top: 40px;
}

.footer-contenido footer {
    max-width: 1200px;
    margin: auto;
}

.footer-contenido footer .logofoot {
    text-align: center;
}

.footer-contenido footer .redesfoot {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-contenido footer .redesfoot .ifoot {
    font-size: 20px;
    margin: 20px;
    background: #70191c;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
}

footer .redesfoot .fa-envelope:hover {
    color: white;
    background: red;
}

footer .redesfoot .fa-facebook-square:hover {
    background: rgb(17, 13, 233);
    color: white;
}

footer .redesfoot .fa-linkedin:hover {
    background: rgb(17, 13, 233);
    color: white;
}

footer .redesfoot .fa-instagram-square:hover {
    color: white;
    background: linear-gradient(to top right, yellow, orange, red, magenta, purple, blue);
}