html{
    height: 100%;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Asap', sans-serif;

    
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(88, 35, 35);
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}
header a{
    color: #fff;
    text-decoration: none;
}
.cab{
    display: inline-flex;
    
}
img{
    width: 80px;
    height: 80px;
    padding: 0px 25px 0px 25px;
}
.menu{
  
}
footer{
    background-color: black;
    color: #fff;
    padding: 25px;
    
}
