html{
    margin: 0;
    padding: 0;
    
    }
:root{
    --colorTextos : #49454567;

}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  /*background-image: url("fondo.jpg") ;
     background-size: cover;*/
  font-family: "Fira Sans";
  background: #870000; 
  background: -webkit-linear-gradient(
    to right,
    #70191C,
    #8a4141
  ); 
  background: linear-gradient(
    to right,
    #70191C,
    #8a4141
  );
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Asap', sans-serif;
  

}

header{
    background: #70191c;
    width: 100%;

}
.cabecera{
    display: inline-flex;
    color: blanchedalmond;
    position: absolute; 
    top: 25px;       

}

img{
    width: 160px;
    height: 80px;
    padding: 0px 25px 0px 25px;
}



h2{
   text-align: center;
   font-weight: 700; 
   color: black;
}

form {
    background: white;
    padding: 50px 50px;
    box-shadow: 0 0 6px 0 rgba(255, 255 , 255, 0.8);
    border-radius: 10px;      
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
    
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color: black;

}
label{
    color: var(--colorTextos);
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
    font-family: 'Asap', sans-serif;
}

/* animacion  con trigers*/
input:focus~label,
input:valid~label{
    top:-14px;
    font-size: 16px;
    color:#2E86C1 ;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
        to right,
        #70191C,
        #8a4141
      );
    transition: 0.3s ease width;
    left:0;
}

input:focus~.barra::before{
    width: 100%;
}
button{
    font-family: 'Asap', sans-serif;
    background: #27AE60 ;
    border: none;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: whitesmoke;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    padding-top: 20px ;
    font-size: 20px;
    font-family: 'Asap', sans-serif
    ;
}
.warnings2{
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    padding-top: 20px ;
    font-size: 14px;
    font-family: 'Asap', sans-serif
    ;
}
.warnings3{
    width: 200px;
    text-align: left;
    margin: auto;
    color:red;
    padding-top: 20px ;
    font-size: 11px;
    font-family: 'Asap', sans-serif
    ;
}
